body 
{
  background: gray;
}

.simple 
{
    width: 500px;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fancy 
{
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border: solid black 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

h1
{
   font-family: arial;
}

input,textarea 
{
    width: 400px;    
    border: 5px solid white;     
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);     
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);     
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);     
    padding: 15px;    
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

.btn 
{
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #faf7fa;
  font-size: 20px;
  background: #666e73;
  padding: 10px 20px 10px 20px;
  border: solid #000203 1px;
  text-decoration: none;
}

.btn:hover 
{
  background: #1e2e38;
  text-decoration: none;
}

#message
{
   font-family: arial;
   color: blue;
   background: white;
   font-weight: bold;
   width: 200px;
   margin: 20px auto;
   padding: 20px;

}
